body{
    width:100%;
    margin:0 auto;
}
/* images sizing*/

img{
  height: 225px;
  width:225px;
}

a{
  color: grey;
  text-decoration: none;
}

section[id^=img_container_]{
    margin:0;
    padding:10px;
    float:left;
    display:block;
    position:relative;
}

span[id^=img_info_container_]{
    margin:0 auto;
    height:225px;
    width:225px;
    transition:1s;
    background-color:white;
    transform:rotateY(0deg);
    position:absolute;
    left:10px;
    text-align:center;
    text-transform: capitalize;

}
/* toggles on | off */

.off{
    transition:1s;
    opacity:0;
    transform:rotateY(180deg);
}

.on{
    transition:1s;
    opacity:1;
    display:inline-block;
    transform:rotateY(0deg);
}